//Variables
$openSans: 'Open Sans';
$grayBg: #eee;
$breakpoints: ('xSmall': 320px, "small": 600px, "medium": 768px, "large": 1024px) !default;

body {
    font-family: $openSans;
    background-color: $grayBg;
}

.paper {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.pdd-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;
    margin: 7px 0;
    font-size: 18px;
    align-items: center;
}

.pdd-price {
    color: #9E45BE;
    &:before {
        content: ' • $';
    }
}

.pdd-description {
    border-top: 1px solid #9E45BE;
    border-bottom: 1px solid #9E45BE;
    position: relative;
}

.button {
    border: 1px solid transparent;
    font-weight: 800;
    width: 36px;
    height: 28px;

    &.button-gray {
        background-color: #eee;
    }

    &.button-purple {
        background-color: #9E45BE;
        color: #fff;
    }
}

.value {
    margin-left: 5px;
    &:before {
        content: '$';
    }
}
.product-detail {
    width: 590px;
}

.cart,
.products-container {
    width: 424px;
    margin-right: 12px;

    & .title {
        color: #9E45BE;
        font-weight: 800;
    }

    & .content {
        border-top: 1px solid #9E45BE;
        margin: 8px 10px 0px 0px;
        padding: 10px 0;
    }

    & .title {
        color: #9E45BE;
        font-weight: 800;
    }

    & .content {
        border-top: 1px solid #9E45BE;
        margin: 8px 10px 0px 0px;
        padding: 10px 0;
    }
}

// cart
.cart {
    width: 568px;

    .cart-product {

        &__row {
            display: flex;
            justify-content: left;
            align-items: center;
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }
    }

    img {
        width: 65px;
    }
}

.relative-pill {
    margin-right: 30px;

    .pill {
        position: relative;
    }
}

.total {
    text-align: right;
    font-weight: 800;
    .label {
        color: #C2C2C2;
    }
    .price {
        color: #9E45BE;
    }
}
// grid Variables
$gap-size: 0.33rem;
$tile-size: 134px;


.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, $tile-size);
    grid-gap: $gap-size;
    &__item {
        border: 1px solid #ccc;
        background-color: white;
        align-items: center;
        display: flex;
        position: relative;

        .pill {
            top: 3px;
            width: 24px;
            height: 24px;
            font-size: 12px;
            left: 3px;
        }

        &.level-1 {
            grid-row-end: span 4;
        }

        &.level-2 {
            grid-row-end: span 5;
        }

        &.level-3 {
            grid-row-end: span 6;
        }
    }
    &__image {
        max-width: 100%;
    }    
}

// Product Detail
.pdd-image {
    width: 150px;
    margin: 0 auto;
}

@media all and (min-width: map-get($breakpoints, 'xSmall')) {
    .grid-gallery {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .product-detail {
        display: none;
    }

    .products-container {
        width: 100%;
    }
}

@media all and (min-width: map-get($breakpoints, 'small')) {
    .grid-gallery {
        grid-template-columns: repeat(auto-fill, 148px);
    }
    .product-detail {
        display: block;
    }

}

@media all and (min-width: map-get($breakpoints, 'medium')) {
    .grid-gallery {
        grid-template-columns: repeat(auto-fill, 186px);
    }
}

@media all and (min-width: map-get($breakpoints, 'large')) {
    .grid-gallery {
        grid-template-columns: repeat(auto-fill, $tile-size);
    }
}
