@import './variables.scss';
@import './grid.scss';

header {
    position: relative;
    h1 {
        font-size: 22px;
    }
}

body {
    font-family: $openSans;
    background-color: $grayBg;
}

.paper {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.pdd-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;
    margin: 7px 0;
    font-size: 18px;
    align-items: center;
}

.pdd-price {
    color: #9E45BE;
    &:before {
        content: ' • $';
    }
}

.pdd-description {
    border-top: 1px solid #9E45BE;
    border-bottom: 1px solid #9E45BE;
    position: relative;
}

.button {
    border: 1px solid transparent;
    font-weight: 800;
    width: 36px;
    height: 28px;

    &.button-gray {
        background-color: #eee;
    }

    &.button-purple {
        background-color: #9E45BE;
        color: #fff;
    }
}

.value {
    margin-left: 5px;
    &:before {
        content: '$';
    }
}

.title {
    color: #9E45BE;
    font-weight: 800;
}

.products-container {
    width: 400px;
    margin-right: 12px;

    & .content {
        border-top: 1px solid #9E45BE;
        margin: 8px 10px 0px 0px;
        padding: 10px 0;
    }

    & .content {
        border-top: 1px solid #9E45BE;
        margin: 8px 10px 0px 0px;
        padding: 10px 0;
    }
}

// cart
.cart {
    width: 316px;
    .cart-product {

        &__row {
            display: flex;
            justify-content: left;
            align-items: center;
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }
    }

    .content {
        border-top: 1px solid #9E45BE;
        margin: 8px 10px 0px 0px;
        padding: 10px 0;
    }

    img {
        width: 65px;
    }
}

.relative-pill {
    margin-right: 30px;

    .pill {
        position: relative;
    }
}

.total {
    text-align: right;
    font-weight: 800;
    margin: 16px 0;

    .label {
        color: #C2C2C2;
    }
    .price {
        color: #9E45BE;
    }
}

// Product Detail
.pdd-image {
    width: 150px;
    margin: 0 auto;
}

@import './media-queries.scss';